:root {
    --bg-color: #ffffff;
    --color: #000000;
    --box-shadow-color: rgba(200, 200, 200, .5);
}

body {
    background-color: var(--bg-color);
    color: var(--color);
    font-family: sans-serif;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    grid-column: 1 / 3;
}

.top-bar {
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 .1em .1em var(--box-shadow-color);
}

.side-bar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}