html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

svg:not([fill]) {
    fill: currentColor;
}

input, textarea {
    font-family: inherit;
}

a, a:hover {
    text-decoration: none;
}